USE [master]
GO
/****** Object:  Database [POSBillingDB]    Script Date: 23-09-2026 10:43:37 AM ******/
CREATE DATABASE [POSBillingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POSBillingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POSBillingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POSBillingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\POSBillingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POSBillingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POSBillingDB]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[ProductName] [nvarchar](150) NULL,
	[SKU] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[LineTotal] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[OrderDate] [datetime2](7) NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[DiscountType] [nvarchar](20) NULL,
	[DiscountValue] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[TaxPercentage] [decimal](5, 2) NULL,
	[TaxAmount] [decimal](18, 2) NULL,
	[GrandTotal] [decimal](18, 2) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[OrderStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaymentDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[SKU] [nvarchar](50) NULL,
	[Category] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[StockQuantity] [int] NULL,
	[LowStockThreshold] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaxSettings]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxSettings](
	[TaxSettingId] [int] IDENTITY(1,1) NOT NULL,
	[TaxName] [nvarchar](50) NULL,
	[TaxPercentage] [decimal](5, 2) NULL,
	[IsActive] [bit] NULL,
	[UpdatedAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebhookLogs]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebhookLogs](
	[WebhookLogId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NULL,
	[Amount] [decimal](18, 2) NULL,
	[RawPayload] [nvarchar](max) NULL,
	[IsValid] [bit] NULL,
	[ResponseMessage] [nvarchar](500) NULL,
	[ReceivedAt] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_Order_Create]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   8. ORDER - CREATE
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Order_Create]
    @OrderNumber NVARCHAR(50),
    @DiscountType NVARCHAR(20),
    @DiscountValue DECIMAL(18,2),
    @TaxPercentage DECIMAL(5,2),
    @ItemsJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        /* Validate Order Number */

        IF EXISTS
        (
            SELECT 1
            FROM Orders
            WHERE OrderNumber = @OrderNumber
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Order number already exists.' AS Message;

            RETURN;
        END;


        /* Validate JSON */

        IF @ItemsJson IS NULL
           OR ISJSON(@ItemsJson) <> 1
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Invalid cart data.' AS Message;

            RETURN;
        END;


        /* Temporary Cart */

        DECLARE @Cart TABLE
        (
            ProductId INT,
            Quantity INT
        );

        INSERT INTO @Cart
        (
            ProductId,
            Quantity
        )
        SELECT
            ProductId,
            Quantity
        FROM OPENJSON(@ItemsJson)
        WITH
        (
            ProductId INT '$.ProductId',
            Quantity INT '$.Quantity'
        );


        /* Validate Cart */

        IF NOT EXISTS
        (
            SELECT 1
            FROM @Cart
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Cart is empty.' AS Message;

            RETURN;
        END;


        /* Validate Quantity */

        IF EXISTS
        (
            SELECT 1
            FROM @Cart
            WHERE Quantity <= 0
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Quantity must be greater than zero.' AS Message;

            RETURN;
        END;


        /* Validate Products */

        IF EXISTS
        (
            SELECT 1
            FROM @Cart c
            LEFT JOIN Products p
                ON c.ProductId = p.ProductId
            WHERE p.ProductId IS NULL
               OR p.IsActive = 0
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'One or more products are invalid.' AS Message;

            RETURN;
        END;


        /* Validate Stock */

        IF EXISTS
        (
            SELECT 1
            FROM @Cart c
            INNER JOIN Products p
                ON c.ProductId = p.ProductId
            WHERE c.Quantity > p.StockQuantity
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Insufficient stock for one or more products.' AS Message;

            RETURN;
        END;


        /* Calculate Subtotal */

        DECLARE @Subtotal DECIMAL(18,2);

        SELECT
            @Subtotal = SUM(c.Quantity * p.Price)
        FROM @Cart c
        INNER JOIN Products p
            ON c.ProductId = p.ProductId;


        /* Calculate Discount */

        DECLARE @DiscountAmount DECIMAL(18,2) = 0;

        IF @DiscountType = 'Percentage'
        BEGIN
            SET @DiscountAmount =
                (@Subtotal * @DiscountValue) / 100;
        END
        ELSE IF @DiscountType = 'Fixed'
        BEGIN
            SET @DiscountAmount = @DiscountValue;
        END;


        IF @DiscountAmount > @Subtotal
        BEGIN
            SET @DiscountAmount = @Subtotal;
        END;


        /* Calculate Taxable Amount */

        DECLARE @TaxableAmount DECIMAL(18,2);

        SET @TaxableAmount =
            @Subtotal - @DiscountAmount;


        /* Calculate Tax */

        DECLARE @TaxAmount DECIMAL(18,2);

        SET @TaxAmount =
            (@TaxableAmount * @TaxPercentage) / 100;


        /* Calculate Grand Total */

        DECLARE @GrandTotal DECIMAL(18,2);

        SET @GrandTotal =
            @TaxableAmount + @TaxAmount;


        /* Insert Order */

        INSERT INTO Orders
        (
            OrderNumber,
            OrderDate,
            Subtotal,
            DiscountType,
            DiscountValue,
            DiscountAmount,
            TaxPercentage,
            TaxAmount,
            GrandTotal,
            PaymentStatus,
            OrderStatus,
            CreatedAt
        )
        VALUES
        (
            @OrderNumber,
            GETDATE(),
            @Subtotal,
            @DiscountType,
            @DiscountValue,
            @DiscountAmount,
            @TaxPercentage,
            @TaxAmount,
            @GrandTotal,
            'Pending',
            'Pending',
            GETDATE()
        );


        DECLARE @OrderId INT;

        SET @OrderId = SCOPE_IDENTITY();


        /* Insert Order Items */

        INSERT INTO OrderItems
        (
            OrderId,
            ProductId,
            ProductName,
            SKU,
            Quantity,
            UnitPrice,
            LineTotal,
            CreatedAt
        )
        SELECT
            @OrderId,
            p.ProductId,
            p.Name,
            p.SKU,
            c.Quantity,
            p.Price,
            c.Quantity * p.Price,
            GETDATE()
        FROM @Cart c
        INNER JOIN Products p
            ON c.ProductId = p.ProductId;


        /* Create Pending Payment */

        INSERT INTO Payments
        (
            OrderId,
            TransactionId,
            Amount,
            PaymentStatus,
            PaymentDate,
            CreatedAt
        )
        VALUES
        (
            @OrderId,
            NULL,
            @GrandTotal,
            'Pending',
            NULL,
            GETDATE()
        );


        COMMIT TRANSACTION;


        SELECT
            1 AS Success,
            'Order created successfully.' AS Message,
            @OrderId AS OrderId,
            @OrderNumber AS OrderNumber,
            @Subtotal AS Subtotal,
            @DiscountAmount AS DiscountAmount,
            @TaxAmount AS TaxAmount,
            @GrandTotal AS GrandTotal,
            'Pending' AS PaymentStatus;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            0 AS Success,
            ERROR_MESSAGE() AS Message;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Order_GetById]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   9. ORDER - GET BY ID
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Order_GetById]
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        OrderId,
        OrderNumber,
        OrderDate,
        Subtotal,
        DiscountType,
        DiscountValue,
        DiscountAmount,
        TaxPercentage,
        TaxAmount,
        GrandTotal,
        PaymentStatus,
        OrderStatus,
        CreatedAt,
        UpdatedAt
    FROM Orders
    WHERE OrderId = @OrderId;


    SELECT
        OrderItemId,
        OrderId,
        ProductId,
        ProductName,
        SKU,
        Quantity,
        UnitPrice,
        LineTotal,
        CreatedAt
    FROM OrderItems
    WHERE OrderId = @OrderId
    ORDER BY OrderItemId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Order_GetDailySalesSummary]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   11. DAILY SALES SUMMARY
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Order_GetDailySalesSummary]
    @SaleDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        @SaleDate AS SaleDate,
        COUNT(OrderId) AS TotalOrders,
        ISNULL(SUM(GrandTotal), 0) AS TotalRevenue,
        ISNULL(SUM(DiscountAmount), 0) AS TotalDiscount
    FROM Orders
    WHERE PaymentStatus = 'Paid'
      AND CAST(OrderDate AS DATE) = @SaleDate;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Order_GetHistory]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   10. ORDER - HISTORY
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Order_GetHistory]
    @FromDate DATETIME2 = NULL,
    @ToDate DATETIME2 = NULL,
    @PaymentStatus NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        OrderId,
        OrderNumber,
        OrderDate,
        Subtotal,
        DiscountAmount,
        TaxAmount,
        GrandTotal,
        PaymentStatus,
        OrderStatus,
        CreatedAt
    FROM Orders
    WHERE
        (
            @FromDate IS NULL
            OR OrderDate >= @FromDate
        )
        AND
        (
            @ToDate IS NULL
            OR OrderDate < DATEADD(DAY, 1, @ToDate)
        )
        AND
        (
            @PaymentStatus IS NULL
            OR @PaymentStatus = ''
            OR PaymentStatus = @PaymentStatus
        )
    ORDER BY OrderDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessPaymentWebhook]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   13. PAYMENT WEBHOOK - PROCESS PAYMENT
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_ProcessPaymentWebhook]
    @OrderNumber NVARCHAR(50),
    @Status NVARCHAR(20),
    @Amount DECIMAL(18,2),
    @TransactionId NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY

        BEGIN TRANSACTION;


        /* Get Order */

        DECLARE
            @OrderId INT,
            @OrderAmount DECIMAL(18,2),
            @CurrentPaymentStatus NVARCHAR(20);

        SELECT
            @OrderId = OrderId,
            @OrderAmount = GrandTotal,
            @CurrentPaymentStatus = PaymentStatus
        FROM Orders WITH (UPDLOCK)
        WHERE OrderNumber = @OrderNumber;


        /* Order Not Found */

        IF @OrderId IS NULL
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Order not found.' AS Message;

            RETURN;
        END;


        /* Validate Amount */

        IF @Amount <> @OrderAmount
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                0 AS Success,
                'Payment amount does not match order amount.' AS Message;

            RETURN;
        END;


        /* Check Duplicate Transaction */

        IF EXISTS
        (
            SELECT 1
            FROM Payments
            WHERE TransactionId = @TransactionId
        )
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                1 AS Success,
                'Transaction already processed.' AS Message,
                @OrderId AS OrderId;

            RETURN;
        END;


        /* Check Already Paid */

        IF @CurrentPaymentStatus = 'Paid'
        BEGIN
            ROLLBACK TRANSACTION;

            SELECT
                1 AS Success,
                'Order is already paid.' AS Message,
                @OrderId AS OrderId;

            RETURN;
        END;


        /* ================================================
           SUCCESS PAYMENT
           ================================================ */

        IF LOWER(@Status) = 'success'
        BEGIN

            /* Check Stock */

            IF EXISTS
            (
                SELECT 1
                FROM OrderItems oi
                INNER JOIN Products p WITH (UPDLOCK)
                    ON oi.ProductId = p.ProductId
                WHERE oi.OrderId = @OrderId
                  AND p.IsActive = 1
                  AND oi.Quantity > p.StockQuantity
            )
            BEGIN
                ROLLBACK TRANSACTION;

                SELECT
                    0 AS Success,
                    'Insufficient stock to complete payment.' AS Message;

                RETURN;
            END;


            /* Reduce Inventory */

            UPDATE p
            SET
                p.StockQuantity =
                    p.StockQuantity - oi.Quantity,
                p.UpdatedAt = GETDATE()
            FROM Products p
            INNER JOIN OrderItems oi
                ON p.ProductId = oi.ProductId
            WHERE oi.OrderId = @OrderId;


            /* Update Order */

            UPDATE Orders
            SET
                PaymentStatus = 'Paid',
                OrderStatus = 'Completed',
                UpdatedAt = GETDATE()
            WHERE OrderId = @OrderId;


            /* Update Payment */

            UPDATE Payments
            SET
                TransactionId = @TransactionId,
                Amount = @Amount,
                PaymentStatus = 'Paid',
                PaymentDate = GETDATE()
            WHERE OrderId = @OrderId
              AND PaymentStatus = 'Pending';


            COMMIT TRANSACTION;


            SELECT
                1 AS Success,
                'Payment successful. Order marked as paid and inventory updated.' AS Message,
                @OrderId AS OrderId,
                @OrderNumber AS OrderNumber,
                'Paid' AS PaymentStatus;

            RETURN;
        END;


        /* ================================================
           FAILED PAYMENT
           ================================================ */

        IF LOWER(@Status) = 'failed'
        BEGIN

            UPDATE Orders
            SET
                PaymentStatus = 'Failed',
                OrderStatus = 'Pending',
                UpdatedAt = GETDATE()
            WHERE OrderId = @OrderId;


            UPDATE Payments
            SET
                TransactionId = @TransactionId,
                Amount = @Amount,
                PaymentStatus = 'Failed',
                PaymentDate = GETDATE()
            WHERE OrderId = @OrderId
              AND PaymentStatus = 'Pending';


            COMMIT TRANSACTION;


            SELECT
                1 AS Success,
                'Payment failed. Inventory was not reduced.' AS Message,
                @OrderId AS OrderId,
                @OrderNumber AS OrderNumber,
                'Failed' AS PaymentStatus;

            RETURN;
        END;


        /* Invalid Status */

        ROLLBACK TRANSACTION;

        SELECT
            0 AS Success,
            'Invalid payment status.' AS Message;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        SELECT
            0 AS Success,
            ERROR_MESSAGE() AS Message;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Delete]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   6. PRODUCT - DELETE
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_Delete]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Products
        WHERE ProductId = @ProductId
          AND IsActive = 1
    )
    BEGIN
        SELECT
            0 AS Success,
            'Product not found.' AS Message;

        RETURN;
    END;

    UPDATE Products
    SET
        IsActive = 0,
        UpdatedAt = GETDATE()
    WHERE ProductId = @ProductId;

    SELECT
        1 AS Success,
        'Product deleted successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_GetAll]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   1. PRODUCT - GET ALL
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ProductId,
        Name,
        SKU,
        Category,
        Price,
        StockQuantity,
        LowStockThreshold,
        IsActive,
        CreatedAt,
        UpdatedAt
    FROM Products
    WHERE IsActive = 1
    ORDER BY ProductId DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_GetById]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   2. PRODUCT - GET BY ID
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_GetById]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ProductId,
        Name,
        SKU,
        Category,
        Price,
        StockQuantity,
        LowStockThreshold,
        IsActive,
        CreatedAt,
        UpdatedAt
    FROM Products
    WHERE ProductId = @ProductId
      AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_GetLowStock]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   14. LOW STOCK PRODUCTS
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_GetLowStock]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ProductId,
        Name,
        SKU,
        Category,
        Price,
        StockQuantity,
        LowStockThreshold,
        IsActive
    FROM Products
    WHERE IsActive = 1
      AND StockQuantity <= LowStockThreshold
    ORDER BY StockQuantity ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Insert]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   4. PRODUCT - INSERT
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_Insert]
    @Name NVARCHAR(150),
    @SKU NVARCHAR(50),
    @Category NVARCHAR(100),
    @Price DECIMAL(18,2),
    @StockQuantity INT,
    @LowStockThreshold INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Products
        WHERE SKU = @SKU
          AND IsActive = 1
    )
    BEGIN
        SELECT
            0 AS Success,
            'SKU already exists.' AS Message;

        RETURN;
    END;

    IF @Price < 0
    BEGIN
        SELECT
            0 AS Success,
            'Price cannot be negative.' AS Message;

        RETURN;
    END;

    IF @StockQuantity < 0
    BEGIN
        SELECT
            0 AS Success,
            'Stock quantity cannot be negative.' AS Message;

        RETURN;
    END;

    INSERT INTO Products
    (
        Name,
        SKU,
        Category,
        Price,
        StockQuantity,
        LowStockThreshold,
        IsActive,
        CreatedAt
    )
    VALUES
    (
        @Name,
        @SKU,
        @Category,
        @Price,
        @StockQuantity,
        @LowStockThreshold,
        1,
        GETDATE()
    );

    SELECT
        1 AS Success,
        'Product created successfully.' AS Message,
        SCOPE_IDENTITY() AS ProductId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Search]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   3. PRODUCT - SEARCH
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_Search]
    @SearchText NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ProductId,
        Name,
        SKU,
        Category,
        Price,
        StockQuantity,
        LowStockThreshold,
        IsActive,
        CreatedAt,
        UpdatedAt
    FROM Products
    WHERE IsActive = 1
      AND
      (
          Name LIKE '%' + @SearchText + '%'
          OR SKU LIKE '%' + @SearchText + '%'
      )
    ORDER BY Name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Product_Update]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   5. PRODUCT - UPDATE
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Product_Update]
    @ProductId INT,
    @Name NVARCHAR(150),
    @SKU NVARCHAR(50),
    @Category NVARCHAR(100),
    @Price DECIMAL(18,2),
    @StockQuantity INT,
    @LowStockThreshold INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM Products
        WHERE ProductId = @ProductId
          AND IsActive = 1
    )
    BEGIN
        SELECT
            0 AS Success,
            'Product not found.' AS Message;

        RETURN;
    END;

    IF EXISTS
    (
        SELECT 1
        FROM Products
        WHERE SKU = @SKU
          AND ProductId <> @ProductId
          AND IsActive = 1
    )
    BEGIN
        SELECT
            0 AS Success,
            'SKU already exists.' AS Message;

        RETURN;
    END;

    IF @Price < 0
    BEGIN
        SELECT
            0 AS Success,
            'Price cannot be negative.' AS Message;

        RETURN;
    END;

    IF @StockQuantity < 0
    BEGIN
        SELECT
            0 AS Success,
            'Stock quantity cannot be negative.' AS Message;

        RETURN;
    END;

    UPDATE Products
    SET
        Name = @Name,
        SKU = @SKU,
        Category = @Category,
        Price = @Price,
        StockQuantity = @StockQuantity,
        LowStockThreshold = @LowStockThreshold,
        UpdatedAt = GETDATE()
    WHERE ProductId = @ProductId;

    SELECT
        1 AS Success,
        'Product updated successfully.' AS Message;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Tax_GetActive]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   7. TAX - GET ACTIVE TAX
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_Tax_GetActive]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        TaxSettingId,
        TaxName,
        TaxPercentage,
        IsActive,
        UpdatedAt
    FROM TaxSettings
    WHERE IsActive = 1
    ORDER BY TaxSettingId DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_WebhookLog_Insert]    Script Date: 23-09-2026 10:43:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   12. WEBHOOK LOG - INSERT
   ========================================================= */

CREATE   PROCEDURE [dbo].[sp_WebhookLog_Insert]
    @OrderNumber NVARCHAR(50),
    @TransactionId NVARCHAR(100),
    @Status NVARCHAR(20),
    @Amount DECIMAL(18,2),
    @RawPayload NVARCHAR(MAX),
    @IsValid BIT,
    @ResponseMessage NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO WebhookLogs
    (
        OrderNumber,
        TransactionId,
        Status,
        Amount,
        RawPayload,
        IsValid,
        ResponseMessage,
        ReceivedAt
    )
    VALUES
    (
        @OrderNumber,
        @TransactionId,
        @Status,
        @Amount,
        @RawPayload,
        @IsValid,
        @ResponseMessage,
        GETDATE()
    );

    SELECT
        SCOPE_IDENTITY() AS WebhookLogId;
END;
GO
USE [master]
GO
